{{ define "main" }}
<!-- "main" content, see layouts >_default > baseof.html
for our overarching template for the whole site -->
  <main>
    <section class="splash">
      <!-- these silly squiggles allow us to insert different variables
      to allow for different descriptions for different languages!
      -->
      <div>
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ .Site.Params.description }}</h2>
        <h3>{{ .Site.Params.secondDescription }}</h3>
      </div>

      <div class="splash-aligner" style="margin-top: -2em;">
          <div>
            <img src="images/app-icons/hermiepatchwork.svg" alt="double hermie!!">
          </div>
          <div>
            <a class="button" href="get-started">{{ i18n "get_started" . }}</a>
          </div>
          <div>
            <img src="images/app-icons/hermiepatchbay.svg" alt="hermie!">
          </div>
      </div>
    </section>



    <section class="video-background">
      <div class="splash-video">
        <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
          <h1>A Scuttlebutt Love Story</h1>
          <iframe
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
           src="https://player.vimeo.com/video/236358264" width="100%" height="100%" frameborder="0" title="Scuttlebutt Love Story" dnt="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
    </section>



    <section id="proof-we-legit" class="bulletin">
      <header class="bulletin--header">
        <h2>The Decentralised Web</h2>
        <h3>It's time to build our own Internet</h3>
        <p><a href="/docs/talks/">We're talking about it and gossiping on it</a></p>
      </header>

      <div class="bulletin--grid">
        <figure class="bulletin--item">
          <a href="https://letstalkbitcoin.com/blog/post/epicenter-dominic-tarr-secure-scuttlebutt-the-localized-but-distributed-social-network">
          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/27Iv8Jf4vZ0&modestbranding=1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen dnt="true" title="false"></iframe>
          </div>
            <div class="bulletin--caption">
              <p>The Localized but Distributed Social Network - 2019</p>
            </div>
          </a>
        </figure>
        <figure class="bulletin--item">
          <a href="https://youtu.be/JSWWkzsHhjk" target="_blank">
            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/JSWWkzsHhjk?modestbranding=1&amp;title=" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="false"></iframe>
            </div>
            <div class="bulletin--caption">
              <p>Scuttlebutt and a Decentralized Future - 2018</p>
            </div>
          </a>
        </figure>
        <figure class="bulletin--item">
          <a href="https://www.youtube.com/watch?v=8GE5C9-RUpg" target="_blank">
            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/8GE5C9-RUpg?modestbranding=1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" dnt="true" allowfullscreen></iframe>
            </div>
            <div class="bulletin--caption">
              <p>Reinvent the Social Web <br> André Staltz @ FullStackFest - 2018</p>
            </div>
          </a>
        </figure>
      </div>
      <div>
        <p align="center"><a href="/docs/talks/" class="dotted dark">see more videos</a></p>
      </div>
    </section>

    <section id="quote">
      <span class="quotes">❝</span>
      <h2><mark>
        Scuttlebutt can be transformative for society, decentralizing and enabling
        local community development free of big corp. It is a fast growing
        decentralized social network. As an alternative to the large corporate social
        networks it enables autonomy for the users and a free zone from big data
        harvesting...</mark>
      </h2>
       <span class="quotes flex-end">❞</span>
    </section>

    <footer>
      <h1 align="center">
      <img
          alt="Hermies the hermit crab"
          src="/images/ssbc.png"
          width="100"
          height="100"
        />
      </h1>

      <div>
        <h1>
          Secure Scaleable Scuttlebutt
        </h1>
      </div>
      <div class="flex-row directory">
        <a href="about"><h2>{{ i18n "about" . }}</h2></a>
        <a href="get-started"><h2>{{ i18n "get_started" . }}</h2></a>
        <a href="docs"><h2>{{ i18n "docs" . }}</h2></a>
      </div>
    </footer>
  </main>

{{ end }}
